@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap;')

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{
    background-image: url(../images/desktop.jpg);
    display:flex;
    justify-content: center;
    justify-items: center;
    min-height:100vh;
    margin:50px;
}

.container{
    position:relative;
    width: 100%;
    max-width: 1000px;
    max-height: auto;
    background: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 50px;
}
.container.sideA{
    position: relative;
    padding: 40px;

}
.SideAcontents{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom:solid 1px grey;
}
.sideAcontents .images{
    position:relative;
    width:200px;
    height:200px;
    border-radius: 50px;
    overflow: hidden;

}
.sideAcontents .images img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}
.sideAcontents h1{
    color: blue;
    font-size: 1.5em;
    margin-top:20px ;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height:1.4em;
}
.sideAcontents h1 span{
    font-size:0.8em;
    font-weight: 300;
}
.contacts{
    padding:40px;

}
.title{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
    border-style:ridge;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px; 
    text-align: center;
    background-color: rgb(3, 3, 54);
    color:aliceblue;
    padding: 12px;
}
}
.contacts ul{
    position: relative;
}
.contacts ul li{
    position:relative;
    list-style:none;
    margin:10px;
    cursor: pointer;
}
.contacts ul li .icon{
    display:inline-block;
    width:30px;
    font-size:18px;
}
.forms{
    margin-bottom: 20px ;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
label{
    padding:10px;
    }
button{
    margin: 5px;
    }
a{
    text-decoration:solid;
    color:blueviolet;
    }

.containder.sideB{
    position: relative;
    padding: 40px;
    margin-left: 20px;

}
h2{
    border-style:ridge;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: white;  
    text-align: center;
    background-color: rgb(3, 3, 54);
    color:aliceblue;
    padding: 12px;
}